<!-- drawer init and toggle -->
<div class="text-left ml-[10vw] mr-[10vw]">
   <button class= "text-black hover:bg-black hover:text-white font-medium rounded-lg text-sm px-5 py-2.5 mb-15 mt-2 transition-discrete duration-400" type="button" data-drawer-target="drawer-example" data-drawer-show="drawer-example" aria-controls="drawer-example">
Filters
   </button>
</div>

<!-- drawer component -->
<div id="drawer-example" class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-80 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-label">
   <h5 id="drawer-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400"><svg class="w-4 h-4 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>Filters</h5>
  
   <button type="button" data-drawer-hide="drawer-example" aria-controls="drawer-example" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white" >
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
         <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
      <span class="sr-only">Close menu</span>
   </button>

<h3 class="text-white">Type</h3><br>
@for (t of type();track t){
  <div>
    <div class="flex items-center mb-4">
      <input id="type" type="radio" name="default-radio" [value]="t" (change)="selectedType.set(t)" [checked]="selectedType() === t" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300"/>
      <label for="radio" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
        {{ t }}
      </label>
    </div>
  </div>
}

<h3 class="text-white">Cuisine</h3><br>
@for (c of cuisine(); track c) {
  <div> <!-- Cuisine Button Area -->
    <div class="flex items-center mb-4">
      <input
         id="cuisine"
        type="checkbox"
        [value]="c"
        (change)="selectedCuisine.set(c)"
        [checked]="selectedCuisine() === c"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
      >
      <label class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ c }}</label>
    </div>
  </div>
}

<h3 class="text-white">Distance</h3>

</div>

